.containerListarClientes {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 82.8vh;
    padding-bottom: 30px;
}

.inputListarClientes {
    width: 400px;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 20px;
    font-size: 20px;
}

#iconeListarClientes {
    width: 15%;
    align-items: center;
    justify-content: center;
}

#barraListarClientes {
    width: 30%;
    margin-bottom: 50px;
}

.tabelaListarClientes {
    width: 80%;
    border-radius: 10px;
}

th,
td {
    padding: 10px;
}

#editarListarClientes {
    text-align: center;
    background-color: #8080ff;
    width: 10%;
    cursor: pointer;
}

#editarListarClientes:hover {
    color: #000;
    opacity: 0.5;
    transition: all 0.5s;
}

.penListarClientes {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    height: 40px;
}

#excluirListarClientes {
    text-align: center;
    background-color: #ff3333;
    width: 10%;
    cursor: pointer;
}

#excluirListarClientes:hover {
    color: #000;
    opacity: 0.5;
    transition: all 0.5s;
}

.trashListarClientes {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    height: 40px;
}

.cabecalhoListarClientes {
    background-color: #999999;
    color: #fff;
    text-shadow: #000 0.1em 0.1em 0.1em;
    font-weight: bold;
    font-size: 15px;
}

#thTabelaListarClientes {
    background-color: #999999;
    color: #fff;
    text-shadow: #000 0.1em 0.1em 0.1em;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

#table-scrollListarClientes {
    width: 80%;
    height: 450px;
    overflow: auto;
    margin-top: 0px;
}