.containerEditarCliente {
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.botaoEditarCliente {
    background-color: #339966;
    padding: 15px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 130px;
}

.botaoEditarCliente:hover {
    color: #000;
    opacity: 0.5;
    transition: all 0.5s;
    cursor: pointer;
}

.penEditarCliente {
    color: #fff;
    margin: 0px 5px;
    margin-bottom: 4px;
}

.editarCliente {
    background-color: transparent;
    color: #fff;
    margin: 0px 5px;
    font-weight: bold;
    text-shadow: #000 0.1em 0.1em 0.1em;
    font-size: 15px;
}

#inputFormEditarCliente {
    margin-left: 20px;
    border: 2;
    border-color: #000;
}